@media only screen and (max-width: 1180px){
  html body{
    overflow: initial;
    height: auto;
    .animationsContainer{
      height: auto;
      .containerSection{
        width: 100%;
        overflow: initial;
          .item{
            position: relative;
            opacity: 1;
            height: auto;
            z-index: 99;
          }
      }
      .animationVariant{
        display: none;
      }
      .codeContainer{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -9999;
        opacity: 0;
        &.active{
          z-index: 99999;
          opacity: 1;
          height: 100vh;
        }
        .ion-ios-close-empty{
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 30pt;
          z-index: 99999;
          color: #fff;
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px){
.banner h1{
  font-size: 15pt;
}

}
