/*_variables.scss */

// Transitions
$transition : 250ms;
// Colours
$primarycolor : #162426;
$secondarycolor : #66BF7A;
// Borders
$border-radius : 5px;
// Fonts
$primaryfont : "futura-pt",sans-serif;
$secondaryfont : "baskerville-urw",serif;
